header {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
  padding-bottom: 30px;
}

p {
  color: red;
  background-color: blue;
}

h4 {
  text-align: center;
}

header h1 {
  font-size: 50px;
}

p.red {
  color: #D4A190;
}

ul {
  list-style-type: circle;
}